// icon colors
@mixin icon-color($color)
  color: $color // accommodate css icons
  svg
    fill: $color
    path.match-fill
      fill: $color

// repeater, useful for trees
@mixin repeater($character, $n)
  $c: ""
  @for $i from 1 through $n
    $c: $c + $character
  content: $c

// responsive widths

@mixin width-xs
  @media  (max-width: $responsive-xs-max)
    @content
@mixin width-sm
  @media (min-width: $responsive-sm-min) and (max-width: $responsive-sm-max)
    @content
@mixin width-md
  @media (min-width: $responsive-md-min) and (max-width: $responsive-md-max)
    @content
@mixin width-lg
  @media (min-width: $responsive-lg-min) and (max-width: $responsive-lg-max)
    @content
@mixin width-xl
  @media (min-width: $responsive-xl-min)
    @content


// greater than

@mixin width-gt-xs
  @media (min-width: $responsive-sm-min)
    @content

@mixin width-gt-sm
  @media (min-width: $responsive-md-min)
    @content

@mixin width-gt-md
  @media (min-width: $responsive-lg-min)
    @content

@mixin width-gt-lg
  @media (min-width: $responsive-xl-min)
    @content

// less than

@mixin width-lt-sm
  @media (max-width: $responsive-xs-max)
    @content


@mixin width-lt-md
  @media (max-width: $responsive-sm-max)
    @content

@mixin width-lt-lg
  @media (max-width: $responsive-md-max)
    @content

@mixin width-lt-xl
  @media (max-width: $responsive-lg-max)
    @content
