@each $color in $color_list


  @each $shade in $shade_list
    [bg="#{$shade}#{$color}"]
      background-color: unquote("var(--#{$shade}#{$color})")

      @if ($shade == lightest-) or ($shade == lighter-) or ($shade==light-)
        color: var(--darkest-gray)
      @else if ($shade == "")
        @if ($color == yellow)
          color: var(--darkest-gray)
        @else
          color: var(--white)
      @else if ($shade==dark-)
        @if ($color == yellow)
          color: var(--darkest-gray)
        @else
          color: var(--white)
      @else
        color: var(--white)

    [fg="#{$shade}#{$color}"]
      color: unquote("var(--#{$shade}#{$color})")
    [bc="#{$shade}#{$color}"]
      border-color: unquote("var(--#{$shade}#{$color})")



[bg="black"]
  background-color: var(--black)
  color: var(--white)
[fg="black"]
  color: var(--black)
[bc="black"]
  border-color: var(--black)

[bg="white"]
  background-color: var(--white)
  color: var(--black)
[fg="white"]
  color: var(--white)

[bg="critical"]
  background-color: var(--critical)
  color: var(--white)
[fg="critical"]
  color: var(--critical)
[bg="primary"]
  background-color: var(--primary)
  color: var(--white)
[fg="primary"]
  color: var(--primary)



[bg="transparent"]
  background-color: transparent
  color: black
[fg="transparent"]
  color: transparent
[bc="none"]
  border-color: transparent
