
// responsive breakpoints

$breakpoint-min: 320px

// used by layout.sass
$breakpoint-xs: 600px // sm
$breakpoint-sm: 960px // md
$breakpoint-md: 1280px // lg
$breakpoint-lg: 1920px // xl

// breakpoint minus 1
$breakpoint-xs-1: 599.9999px
$breakpoint-sm-1: 959.9999px
$breakpoint-md-1: 1279.9999px
$breakpoint-lg-1: 1919.9999px

// reponsive min maxes
$responsive-xs-min: $breakpoint-min
$responsive-xs-max: $breakpoint-xs-1
$responsive-sm-min: $breakpoint-xs
$responsive-sm-max: $breakpoint-sm-1
$responsive-md-min: $breakpoint-sm
$responsive-md-max: $breakpoint-md-1
$responsive-lg-min: $breakpoint-md
$responsive-lg-max: $breakpoint-lg-1
$responsive-xl-min: $breakpoint-lg
// no max for xl
