//  todo: validation states

textarea, input, select, button[type="select"]
  border-radius: var(--corner-s)
  padding: var(--fine-spacing-s) var(--fine-spacing-m)
  border: 1px solid var(--input-border)
  font-family: var(--font-family-primary), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  font-size: var(--font-s)
  width: 100%
  &[required], &[invalid="true"]
    border-color: var(--critical)
  &[disabled]
    color: var(--dark-gray)


  option
    padding: var(--fine-spacing-s) var(--fine-spacing-m)
    font-size: var(--font-s)


field
  display: block
  margin: var(--fine-spacing-l) 0px

aside[type="field"], field aside
  display: inline-block
  font-size: var(--font-xs)
  margin: var(--fine-spacing-xs) var(--fine-spacing-0)
  color: var(--neutral)
  &[required], &[invalid="true"], &[critical]
    color: var(--critical)
