
// used with form inputs
label[type="field"]
  display: inline-block
  font-size: var(--font-xs)
  margin: var(--fine-spacing-xs) var(--fine-spacing-m)
  color: var(--primary)
  &[required], &[invalid="true"]
    color: var(--critical)
  &[disabled]
    color: var(--icon-color-normal-disabled)
label[type="tag"]
  display: inline-block
  padding: 2px 6px
  position: relative
  top: -2px
  font-size: var(--font-xs)
  font-weight: var(--font-bold)
  color: var(--white)
  background: var(--blue)
  border-radius: var(--corner-s)
