body
  font-family: var(--font-family-primary), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  font-size: var(--font-s)

h1, h2, h3, h4, h5, h6
  font-weight: var(--font-bold)
h1
  font-size: var(--font-xxl)
h2
  font-size: var(--font-xl)
h3
  font-size: var(--font-l)
h4
  font-size: var(--font-m)
h5
  font-size: var(--font-s)
h6
  font-size: var(--font-xs)

p
  font-size: var(--font-s)
small
  font-size: var(--font-xs)
pre, code
  font-family: var(--font-family-monospace), "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace

pre
  font-size: var(--font-s)

b
  font-weight: var(--font-bold)

// encapsulate "body" text in content type articles
[type="content"], .content

  h1
    margin-top: var(--text-spacing-xxl)
    margin-bottom: var(--text-spacing-xxl)
  h2
    margin-top: var(--text-spacing-xxl)
    margin-bottom: var(--text-spacing-xl)
  h3
    margin-top: var(--text-spacing-xxl)
    margin-bottom: var(--text-spacing-l)
  h4
    margin-top: var(--text-spacing-xxl)
    margin-bottom: var(--text-spacing-m)
  h5
    margin-top: var(--text-spacing-xxl)
    margin-bottom: var(--text-spacing-s)
  h6
    margin-top: var(--text-spacing-xxl)
    margin-bottom: var(--text-spacing-xs)
    text-transform: uppercase

  p, ol, ul, table[type], pre, blockquote
    margin-bottom: var(--text-spacing-s)

  blockquote
    margin-left: var(--spacing-l)
    margin-right: var(--spacing-l)
  pre
    background: var(--lightest-gray)
    padding: var(--text-spacing-s)
    border-radius: var(--corner-l)
  pre, code

    color: var(--code)
  ul
    list-style-type: disc
    ul
      list-style-type: circle
      ul
        list-style-type: disc
        ul
          list-style-type: circle
          ul
            list-style-type: disc
            ul
              list-style-type: circle
              ul
                list-style-type: disc
    li
      margin-left: var(--spacing-xs)

  ol
    list-style-type: decimal
    ol
      list-style-type: lower-alpha
      ol
        list-style-type: lower-roman
        ol
          list-style-type: decimal
          ol
            list-style-type: lower-alpha
            ol
              list-style-type: lower-roman
    li
      margin-left: var(--spacing-s)

  table[type]
    th
      font-weight: bold
    td, th
      padding: var(--fine-spacing-xxs) var(--fine-spacing-s)
    &[type="standard"]
      tr, td, th
        border: 1px solid var(--black)
// general formats

// ellipsis usually needs two containers to work

[ellipsis]
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

// text alignment

[a="c"]
  text-align: center
[a="c!"]
  text-align: center !important
[a="l"]
  text-align: left
[a="l!"]
  text-align: left !important
[a="r"]
  text-align: right
[a="r!"]
  text-align: right !important

[va="t"]
  vertical-align: top
[va="m"]
  vertical-align: middle
[va="b"]
  vertical-align: bottom

[va="t!"]
  vertical-align: top !important
[va="m!"]
  vertical-align: middle !important
[va="b!"]
  vertical-align: bottom !important
