@font-face
  font-family: $font-family-primary
  src: url($font-family-primary-src)
  font-weight: $font-normal

@font-face
  font-family: $font-family-primary-bold
  src: url($font-family-primary-bold-src)
  font-weight: $font-bold

@font-face
  font-family: $font-family-secondary
  src: url($font-family-secondary-src)
  font-weight: $font-normal

@font-face
  font-family: $font-family-secondary-bold
  src: url($font-family-secondary-bold-src)
  font-weight: $font-bold

@font-face
  font-family: $font-family-monospace
  src: url($font-family-monospace-src)
  font-weight: $font-normal

@font-face
  font-family: $font-family-monospace-bold
  src: url($font-family-monospace-bold-src)
  font-weight: $font-bold

body
  font-family: var(--font-family-primary), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  font-size: var(--font-s)

h1, h2, h3, h4, h5, h6
  font-weight: var(--font-bold)
h1
  font-size: var(--font-xxl)
h2
  font-size: var(--font-xl)
h3
  font-size: var(--font-l)
h4
  font-size: var(--font-m)
h5
  font-size: var(--font-s)
h6
  font-size: var(--font-xs)
  text-transform: uppercase
p
  font-size: var(--font-s)
small
  font-size: var(--font-xs)
pre, code
  font-family: var(--font-family-monospace), "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace
  font-size: var(--font-s)
  color: var(--code)

// encapsulate "body" text in articles



article, .article

  h1
    margin-top: var(--text-spacing-xxl)
    margin-bottom: var(--text-spacing-xxl)
  h2
    margin-top: var(--text-spacing-xxl)
    margin-bottom: var(--text-spacing-xl)
  h3
    margin-top: var(--text-spacing-xxl)
    margin-bottom: var(--text-spacing-l)
  h4
    margin-top: var(--text-spacing-xxl)
    margin-bottom: var(--text-spacing-m)
  h5
    margin-top: var(--text-spacing-xxl)
    margin-bottom: var(--text-spacing-s)
  h6
    margin-top: var(--text-spacing-xxl)
    margin-bottom: var(--text-spacing-xs)
  p, ol, ul, table, pre
    margin-bottom: var(--text-spacing-s)

  pre
    background: var(--lightest-gray)
    padding: var(--text-spacing-s)

  ul
    list-style-type: disc
    ul
      list-style-type: square
      ul
        list-style-type: circle
        ul
          list-style-type: square
          ul
            list-style-type: disc
            ul
              list-style-type: square
              ul
                list-style-type: circle
    li
      margin-left: 20px

  ol
    list-style-type: decimal
    ol
      list-style-type: upper-alpha
      ol
        list-style-type: upper-roman
        ol
          list-style-type: lower-alpha
          ol
            list-style-type: lower-roman
            ol
              list-style-type: decimal
    li
      margin-left: 20px

  table
    th
      font-weight: bold
    td, th
      padding: 2px 6px

// general formats

// ellipsis usually needs two containers to work

[ellipsis]
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

// strikethrough
.strike, .strikethrough
  text-decoration: line-through

[break-word]
  word-wrap: break-word

// text alignment

[a="c"]
  text-align: center
[a="c!"]
  text-align: center !important
[a="l"]
  text-align: left
[a="l!"]
  text-align: left !important
[a="r"]
  text-align: right
[a="r!"]
  text-align: right !important

[va="t"]
  vertical-align: top
[va="m"]
  vertical-align: middle
[va="b"]
  vertical-align: bottom

[va="t!"]
  vertical-align: top !important
[va="m!"]
  vertical-align: middle !important
[va="b!"]
  vertical-align: bottom !important

// fix spacing problems for inline-blocks
.zerofont
  font-size: 0px
